@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

.footer {
    margin-top: 3rem;

    p{
        font-family: 'VT323', monospace;

        font-size: medium;
        font-weight: lighter;
        background: #008CBA;
        color: whitesmoke;
        text-align: center;
    }
}
